In [ ]:
import yfinance as yf
import pandas as pd

data = yf.download(tickers='005930.KS', multi_level_index=False, auto_adjust=False, interval="1m", period="7d")

data.head()

[*********************100%***********************]  1 of 1 completed

,Adj Close,Close,High,Low,Open,Volume
Datetime,,,,,,
2025-09-22 00:00:00+00:00,81300.0,81300.0,81500.0,81100.0,81500.0,0
2025-09-22 00:01:00+00:00,81800.0,81800.0,81900.0,81300.0,81300.0,469840
2025-09-22 00:02:00+00:00,82000.0,82000.0,82100.0,81800.0,81900.0,467246
2025-09-22 00:03:00+00:00,82100.0,82100.0,82200.0,82000.0,82000.0,233693
2025-09-22 00:04:00+00:00,82100.0,82100.0,82100.0,81900.0,82000.0,222784

In [12]:
import os
print("Current working dir:", os.getcwd())

Current working dir: c:\Users\rodol\projects\yahooFinance\notebooks

In [19]:
import os
import json
from pathlib import Path

file_path = "c:/Users/rodol/projects/yahooFinance/stocks/"

dir_list = os.listdir(path=file_path)
list_tickers = []

for dir in dir_list:
    ticker_path = file_path + dir
    with open(file=ticker_path) as f:
        tickers = json.load(fp=f)
        ticker_category= file_path.removeprefix('stocks/').removesuffix('.json')
        
            
        for ticker in tickers.keys():
            list_tickers.append(ticker)
            
print(list_tickers)
# 
print(len(list_tickers))

['PLTR', 'SNOW', 'DDOG', 'MDB', 'AI', 'PANW', 'FTNT', 'CHKP', 'CRWD', 'ZS', 'HO.PA', 'RHM.DE', 'LDO.MI', 'LMT', 'RTX', 'NOC', 'GD', 'BA', 'BAESY', 'SAAB.ST', 'META', 'NFLX', 'TCEHY', 'SPOT', 'SNAP', 'SNPS', 'CDNS', 'SIEGY', 'KEYS', 'ALU.AX', 'PYPL', 'SQ', 'ADYEY', 'V', 'MA', 'AAPL', 'SONY', 'LPL', 'DELL', 'HPQ', '1810.HK', 'ACN', 'IBM', 'CAP.PA', 'INFY', 'TCS.NS', 'WIT', 'HCLTECH.NS', 'CSCO', 'NOK', 'ERIC', 'ANET', '0763.HK', 'NVDA', 'AMD', 'AVGO', 'QCOM', 'TXN', 'TSM', 'INTC', '005930.KS', 'MU', 'GFS', 'ASML', 'AMAT', 'LRCX', 'TOELY', 'KLAC', 'ARM', '0981.HK', 'MRVL', 'MSFT', 'ORCL', 'CRM', 'ADBE', 'SAP', 'NOW', 'AMZN', 'GOOGL', 'BABA', 'TEAM', 'WDAY', 'INTU']
83